body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  color: #ffd700;
  font-size: 150%;
}

h1 {
  color: #66BFBF;
  font-size: 90px;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.profile{
  width: 50%;
  margin: 30px auto 30px auto;
}
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.top-container {
  background-color: #115173;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: white;
}

.bottom-container {
  background-color: #115173;
  position: relative;
  padding: 25px 25px;
  font-family: 'Montserrat', sans-serif;
}

.copy-right{
  padding-top: 25px;
  font-size: 0.75rem;
}

.dev {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile1 {
  margin-top: 50px;
  border-radius: 100%;
}

.mountain{
  padding-top: 50px;
}

hr {
  border-top-width: 5px;
  border-style: none;
  border-top-style: dotted;
  border-top-color: #ffd700;
  width: 5%;
  margin: 100px auto 100px auto;
}

.footer-link {
  color: #11999E;
  margin: 50px;
  text-decoration: none;
}
.footer-link:hover{
  color: #ffd700;
}

.bike-img {
  width: 25%;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
}

.mypic {
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 30Px;
}

.about {
  font-weight: normal;
}

.aboutme{
  color: #ffd700;
}
.BUTTON_LMB {
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 13px;
   height: 10px;
   line-height: 10px;
   color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
   width: 135px;
   font-size: 20px;
   font-weight: 500;
   padding: 16px;
   background-color: #11999E;
   -webkit-box-shadow: 1px 1px 20px 0 #FFFFFF;
   -moz-box-shadow: 1px 1px 20px 0 #FFFFFF;
   box-shadow: 1px 1px 20px 0 #FFFFFF;
   text-shadow: 1px 1px 20px #000000;
   border: solid #0059A0 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 50px;
}

.BUTTON_LMB:hover {
   background: #1E62D0;
   border: solid #0059A0 2px;
   -webkit-border-radius: 21px;
   -moz-border-radius: 21px;
   border-radius: 21px;
   text-decoration: none;
}
